<style>
    .comic-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .comic-card {
        filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
        padding: 10px;
        margin-top: 10px;
        width: 20%;
        border-radius: 8px;
    }
</style>
<p>Hello world</p>
<app-about></app-about>
<section class="comic-container">
    <article [appBackground]="i" class="comic-card" *ngFor='let comic of comicList; let i = index'>
        <h1>{{comic.title}}</h1>
        <p>{{comic.description}}</p>
    </article>
</section>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
